header {
	width: 100%;
	padding: 2rem 1.6rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-btn {
	position: fixed;
	top: 2rem;
	left: 1.6rem;
	width: 4.6rem;
	height: 4.6rem;
	@include centering;
	z-index: 12;
	cursor: pointer;
	border-radius: 8px;
	background: var(--nav-btn-bg);
	box-shadow: var(--nav-btn-shadow);

	span {
		height: 2.5px;
		background: var(--font-1);
		border-radius: 4px;
		position: absolute;
		transition: all 250ms ease-in;

		&:nth-of-type(1) {
			width: 60%;
			top: 13px;
		}
		&:nth-of-type(2) {
			top: 22px;
			width: 40%;
			left: 9px;
		}
		&:nth-of-type(3) {
			width: 60%;
			top: 31px;
		}
	}
}

.nav-btn.nav-active {
	span {
		transform-origin: center center;
		background: var(--font-1);
		&:nth-of-type(2) {
			opacity: 0;
			transform: scale(0);
		}
		&:nth-of-type(1) {
			top: 22px;
			transform: rotate(-45deg);
		}
		&:nth-of-type(3) {
			top: 22px;
			transform: rotate(45deg);
		}
	}
}

.nav-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	opacity: 0;
	visibility: hidden;
	z-index: -2;
	transition: all 250ms ease-in-out;
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;

	nav {
		width: 65%;
		max-width: 26rem;
		height: 100%;
		padding: 10rem 2rem 7rem 2rem;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: -1;
		justify-content: space-between;
		transition: all 250ms ease-in-out;
		transform: translateX(-50px);
		cursor: default;

		&::before {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			content: "";
			background-image: var(--nav-bg);
			filter: blur(4px);
			z-index: 8;
		}

		* {
			z-index: 10;
		}

		.nav-links {
			.nav-row {
				width: max-content;
				padding: 2.4rem 0.4rem;
				display: flex;
				align-items: center;
				gap: 1.6rem;
				font-size: 2rem;
				color: var(--font-1);
				margin-bottom: 1.6rem;
				cursor: pointer;
				transition: color 250ms ease-in-out;

				&:last-child {
					margin-bottom: 0;
				}

				h1,
				.icon {
					color: inherit;
					font-size: inherit;
				}
				&:hover,
				&:active {
					color: var(--font-hover);
				}
			}
			.active-route {
				color: var(--bg-1);
			}
		}

		.img-wrapper {
			width: 100%;
			@include centering;
			img {
				width: 17rem;
				position: relative;
				left: -10px;
			}
		}
	}
}

.nav-backdrop.nav-active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
	nav {
		transform: translateX(0);
	}
}

@media (min-width: $tablet-large) {
	header {
		justify-content: space-between;
	}

	.nav-btn {
		display: none;
	}

	.nav-backdrop {
		position: relative;
		height: 100%;
		width: 100%;
		display: unset;
		opacity: 1;
		visibility: visible;
		z-index: 2;
		background: transparent;

		nav {
			width: unset;
			max-width: unset;
			height: 100%;
			padding: 0;
			flex-direction: row-reverse;
			position: relative;
			z-index: 1;
			justify-content: flex-end;
			transform: unset;

			&::before {
				display: none;
			}

			.nav-links {
				margin-left: 4.6rem;
				display: flex;
				.nav-row {
					margin: 0 1.4rem;
					width: unset;
					padding: 1.6rem;
					border-radius: 16px;
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					gap: 0;
					font-size: 2rem;
					margin-bottom: 0;
					background: var(--nav-btn-bg);
					box-shadow: var(--nav-btn-shadow);
					position: relative;

					h1 {
						position: absolute;
						bottom: -60px;
						left: 50%;
						right: 50%;
						transform: translate(-50%, -50%);
						padding: 1rem 3rem;
						border-radius: 4px;
						font-size: 1.3rem;
						@include centering;
						background: var(--bg-1);
						color: var(--font-2);
						opacity: 0;
						visibility: hidden;
						transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
					}

					.icon {
						font-size: 2.2rem;
						line-height: 2.2rem;
					}

					&:hover,
					&:active {
						color: var(--font-hover);

						h1 {
							opacity: 1;
							visibility: visible;
							height: unset;
							width: unset;
						}
					}
				}
				.active-route {
					box-shadow: var(--nav-btn-shadow-pressed);
				}
			}

			.img-wrapper {
				width: unset;
				display: unset;
				img {
					width: 10rem;
					left: 0;
				}
			}
		}
	}
}
